

.chat-box {
  display: flex;
  flex-direction: column;
  height : 90vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  font-family: sans-serif;
}

.chat-history {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto; /* Allows scrolling for messages */
  display: flex;
  flex-direction: column; /* Stack messages vertically */
  gap: 10px; /* Space between messages */


}



.chat-message {
  background-color: #E7E6EB;
  color: #333;
  font-weight: 200;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 20px 20px 20px 0px;
  max-width: 80%;
}

.chat-sender {
  font-weight: bold;
  margin-bottom: 4px;
  color: #333;
}

.chat-body {
  white-space: pre-wrap;
}

