

.navigation {
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 5px;
    height: 100vh;
    background-color: #4A154B;
    overflow: auto;
}

.navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #4A154B;
    height: 100%;
    width: 80px;
    border-radius: 10px;
    padding: 15px;
    border: #572758 solid 1px; /* To delete later*/
}

.navigation-container .logout-icon {
    justify-self: end;
}

/* .navigation-icon {
    transform: scale(2);
} */



/* .navigation > .item {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
   
.navigation > .item.active {
    background-color: #04AA6D;
    color: white;
}
  
.navigation a:hover:not(.active) {
    background-color: #555;
    color: white;
}
  
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
} */