*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.messages {
    display: flex;
    background-color: #ffffff;
    height: 100%;
    width: 3000px;
    border-radius: 15px;
}

.messages-left {
    flex-shrink: 0;
    background-color: #572758;
    color: #FFFFFF;
    border-radius: 10px 0 0 10px;
    padding: 15px;
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.messages-right {
    background-color: #FFFFFF;
    /* background-color: lightyellow; */
    color: #000000;
    border-radius: 0 10px 10px 0;
    padding: 15px;
    width: 100%;
}

