.chat-input-form {
    display: flex;
    padding: 12px 16px;
    border-top: 1px solid #ccc;
    background-color: #fff;
   
  }
  
  .chat-input {
    flex: 1;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    transition: border 0.2s ease-in-out;
  }
  


  .chat-input:focus {
    border-color: #1976d2;
  }
  
  .chat-input-form button {
    margin-left: 10px;
    background-color: #007A5A;
    border: none;
    color: white;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .chat-input-form button:hover {
    background-color: #00503a;
  }
  