*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.create-acc-body{
    height: 100vh;
}

.linkr-create-account{
    /* background-color: #611F69; */
    background-color: #4A154B;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.create-acc-logo{
    height: 4.5rem;
    margin-bottom: 2rem;

}


.create-acc-container{
    background-color: white;
    width: 492px;
    height: 533px;
    border-radius: 1rem;

    margin-inline: auto;

    display: flex;
    flex-direction: column;   
    justify-content: center;
  
}


.create-acc-welcome{
    font-family: 'larsseit';
    font-weight: 700;
    color: #041E4E;
    text-align: center;
    font-size: 1.1rem;
    padding-bottom: 0.3125rem;

}



.create-acc-welcome-p{
    font-family: 'circular';
    font-weight: 200;
    color: #8c8c8c;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 0.8125rem;
}


.create-acc-input-divs{
    display: flex;
    flex-direction: column;
    
    margin-inline: auto;
    
}


.input-title{
    font-family: 'larsseit';
    font-weight: 700;
    text-align: left;
    color: #041E4E;
    padding-left: 0.6rem;
    margin-bottom: 0.6rem;
    font-size: 0.9rem;

   

}



.ca-input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 0.6rem;
    margin-bottom: 0.8rem;

    font-family: 'larsseit';
    font-weight: 200;

    border: 2px solid #f2f2f2;

}













.create-account-button{
    width: 300px;
    height: 45px;

    padding: 12px 20px;
    margin-inline: auto;
    border-radius: 10px;
    border: none;

    /* background-color: #4A154B; */
    background-color: #611F69;
    color: white;
    font-family: 'larsseit';
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 1.5rem;

    cursor: pointer;
}


.no-account-ca{
    font-family: 'circular';
font-weight: 300;
color: #8c8c8c;
text-align: center;
font-size: 0.8rem;
}



.no-account-ca a{
    font-family: 'larsseit';
    font-weight: 600;
    text-decoration: none;
    color: #4A154B;
    
}