*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.linkr-create-account{
    /* background-color: #611F69; */
    background-color: #4A154B;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.login-logo{
    height: 4.5rem;
    margin-bottom: 2rem;

}


.login-container{
    background-color: white;
    width: 492px;
    height: 533px;
    border-radius: 1rem;

    margin-inline: auto;

    display: flex;
    flex-direction: column;   
    justify-content: center;
  
}


.welcome{
    font-family: 'Inter';
    font-weight: 700;
    color: #041E4E;
    text-align: center;
    font-size: 1.1rem;
    padding-bottom: 0.3125rem;

}



.welcome-p{
    font-family: 'Lexend';
    font-weight: 200;
    color: #8c8c8c;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 0.8125rem;
}


.input-div{
    display: flex;
    flex-direction: column;
    
    margin-inline: auto;
    
}


.input-title{
    font-family: 'Inter';
    font-weight: 700;
    text-align: left;
    color: #041E4E;
    padding-left: 0.6rem;
    margin-bottom: 0.6rem;
    font-size: 0.9rem;

   

}



.input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 0.6rem;
    margin-bottom: 0.8rem;

    font-family: "Inter";
    font-weight: 200;

    border: 2px solid #f2f2f2;

    /* margin-inline: auto; */
}



.rememberme-and-password{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.5rem;
    margin-bottom: 3rem;
}


.rememberme{
    display: flex;
    gap: 0.2rem;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.7rem;
    align-items: center;
    padding-left: 0.8rem;
    color: #8c8c8c;
}




.password a{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 0.7rem;
 text-decoration: none;
 color: #4A154B;
}


.create-account{
    width: 300px;
    height: 45px;

    padding: 12px 20px;
    margin-inline: auto;
    border-radius: 10px;
    border: none;

    /* background-color: #4A154B; */
    background-color: #611F69;
    color: white;
    font-family: 'Inter';
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 1.5rem;

    cursor: pointer;
}





.no-account{
font-family: 'Lexend';
font-weight: 300;
color: #8c8c8c;
text-align: center;
font-size: 0.8rem;
}

.no-account a{
    font-family: 'Inter';
    font-weight: 600;
    text-decoration: none;
    color: #4A154B;
    
}